<%- include("partials/header"); %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-2">Edible </h1>
    <p class="lead"> Find Your Perfect Restaurant</p>
	<a href="/search" class="btn btn-primary btn-lg btn-block text-center" role="button">Get Started</a>
  </div>
</div>

<%- include("partials/footer") %>