<%- include("partials/header"); %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-2">Edible </h1>
    <p class="lead"> Find Your Perfect Restaurant</p>
	<a href="/search" class="btn btn-primary btn-lg btn-block text-center" role="button">Get Started</a>
  </div>
</div>
            
<h1 class="display-6"> Featured Restaurants In Bellmore, NY  </h1>



<div class="card" style="width: 18rem;">
  <img src="https://images.unsplash.com/photo-1548940740-204726a19be3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=935&q=80" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<%- include("partials/footer") %>