<%- include("partials/header"); %>

<!-- <a href="/results"> <h1> View selections  </h1> </a> -->

<div style="margin: 50px; padding: 50px; "class="container">
	
	<a href="/results"> <h1> View Selections </h1> </a>
	
	<a href="/map"> <h1> View Map </h1> </a>

</div>

<%- include("partials/footer") %>